
/*.navbar {*/
/*    background: #00bc8c;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    margin-top: -2%;*/
/*    !*height: 20px;*!*/
/*}*/
input#timeFrom, input#timeTo {
    width: 25%;
    margin: unset;
}

a.list-group-item.list-group-item-action.flex-column.align-items-start {
    margin-bottom: 10px;
}

body {
    background: linear-gradient(135deg, rgba(34,34,34,1) 0%, rgba(36,36,36,1) 50%, rgba(38,38,38,1) 100%);
}

button#submitNoticeBtn {
    width: 100%;
}

.circleButton{
    background: #00bc8c;
    border-color: #00bc8c;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 2rem;
    position: fixed;
    right: 8vw;
    top: 80vh;
    padding: 1.2rem;
    text-align: center;
    line-height: 10px;
    outline: none;
    z-index: 1;
}

.addCircle {
    right: 5vw;
    top: 80vh;
}

.searchCircle {
    right: 22vw;
    top: 80vh;
}

#bgimg {
    position: fixed;
    width: 70%;
    bottom: 0;
    right: 0px;
    transform: rotate(-20deg);
    z-index: -1;
}

.avatar {
    height: 150px;
    width: 150px;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    align-content: center;
}
.ptr--text, .ptr--icon{
    color: #fff !important;
}

.ptr--ptr {
    box-shadow: none !important;
}

html {
    height: 100%;
}

.jumbotron {
    padding: 0.75rem 1rem !important;
    background: transparent;
}

.wrapper {
    height: 55px;
}


.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar .btn-success{
    border-radius: 2rem;
    padding: 0.4rem;
    text-align: center;
    line-height: 10px;
}

.navbar {
    padding: 0.5rem 0.5rem;
}

/*.navbar .btn-success:hover{*/
/*    border: 8px solid #009670;*/
/*}*/

#sidebar .btn {
    background: #00bc8c;
    border-color: #00bc8c;
    padding: 0.25rem;
    border-radius: 2rem;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #222222;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
}

#sidebar.active {
    left: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #008a67;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #00bc8c;
    color: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #00bc8c;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    /*color: #7386D5;*/
    background: #414141;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    /*color: #fff;*/
    background: #595959;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #6d7fcc;*/
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #00bc8c;
    /*color: #7386D5;*/
}       

a.article,
a.article:hover {
    background: #008a67 !important;
    color: #fff !important;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/*#content {*/
/*    width: 100%;*/
/*    position: fixed;*/
/*}*/

/*temporary class*/
.formPerson {
    padding-right: 2%;
    padding-left: 2%;
}

#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

.lorem{
    font-family: Helvetica, Arial, Roboto, serif;
    padding-right: 2%;
    padding-left: 2%;
}


.loginPage{
    text-align: center;
}

.profile-name {
    text-align: center;
    margin: 0px;
}

.show-ann {
    font-size: 30px;
}